<!DOCTYPE html>

<head>
  <meta charset="UTF-8" />
  <title>Score Test</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css" />
</head>
<style>
  /* ==================== inner input ==================== */
  @import url("//unpkg.com/element-ui@2.4.7/lib/theme-chalk/index.css");

  .demo-progress .el-progress--line {
    margin-bottom: 15px;
  }

  .box-card {
    width: 520px;
    margin-bottom: 15px;
  }
</style>

<body>
  <div id="app">
    <el-card class="box-card">
      전략 선택하기
      <el-select v-model="strategyIndex" class="m-2" placeholder="Select" @change="changeStrategy">
        <el-option v-for="item in options" :key="item.label" :label="item.label" :value="item.value" />
      </el-select>
      <el-card style="margin-top: 15px;">
        <div style="margin-bottom: 15px">현재 전략</div>
        <div v-if="strategyIndex != null">
          <div>
            <div>개별 점수 산정방식</div>
            <div v-if="strategyText[strategyIndex].each">{{strategyText[strategyIndex].each}}</div>
            <div v-else>없음</div>
          </div>
          <div style="margin-top: 10px">
            <div>총 점수 산정방식</div>
            <div v-if="strategyText[strategyIndex].total">{{strategyText[strategyIndex].total}}</div>
          </div>
        </div>
      </el-card>

    </el-card>
    <el-card class="box-card">
      <div>체크리스트 작성하기</div>
      <div style="margin-top: 15px">Good</div>
      <div>
        <el-checkbox v-for="i in [1,2,3,4,5]" v-model="goodChecked[i]" :key="i">{{i}}</el-checkbox>
      </div>
      <div style="margin-top: 15px">Bad</div>
      <div>
        <el-checkbox v-for="i in [1,2,3,4,5]" v-model="badChecked[i]" :key="i">{{i}}</el-checkbox>
      </div>
      <el-row style="margin-top: 15px;">
        <el-col :offset="18">
          <el-button @click="addDiary">추가하기</el-button>
        </el-col>

      </el-row>
    </el-card>
    <el-card class="box-card demo-progress">
      <div style="margin-bottom: 15px">
        결과
        <el-button type="info" size="small" style="margin-left: 10px;" @click="clear">초기화</el-button>
      </div>
      <el-card style="margin-bottom: 15px">
        <div>현재 작성한 일화 {{diaryCount}} 개</div>
        <div>긍정 체크 {{checkedGood}} / {{totalGood}} 개</div>
        <div>부정 체크 {{checkedBad}} / {{totalBad}} 개</div>
        <div>Score Good: {{goodTotalScore}} / Bad: {{totalScore}}</div>
      </el-card>
      <el-progress v-if="strategyIndex != null && strategyIndex != 1 && strategyIndex != 4" :stroke-width="12"
        type="circle" status="exception" :percentage=totalScore></el-progress>
      <el-progress v-if="strategyIndex == 1 || strategyIndex == 4" type="circle" :stroke-width="12"
        :percentage=goodTotalScore status="success"></el-progress>
      <el-progress v-if="strategyIndex == 1 || strategyIndex == 4" type="circle" :stroke-width="12"
        :percentage=totalScore status="exception"></el-progress>
    </el-card>
  </div>
  </div>
  <script src="./gauge_test.js"></script>
</body>

</html>